<div class="container-fluid phone-list">
    <div class="row">

        <div class="col-md-2">
            <div class="row"> 
                <div class="col-sm-5">   
                    Search (by name):
                </div>
                <div class="col-sm-5">
                    <input type="text" ng-model="$ctrl.searchQuery" />
                </div>
            </div>
            
            <div class="row" style="margin-top: 1em;"> 
                <div class="col-sm-5">   
                    Sort by :
                 </div>
                <div class="col-sm-5">
                <select ng-model="$ctrl.orderBy">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                    <option value="-age">Oldest</option>
                </select>
            </div>
        </div>
        </div>

        <div class="col-md-10">
            <ul class="phones">
                <li ng-repeat="phone in $ctrl.phones | filter: {name: $ctrl.searchQuery} | orderBy: $ctrl.orderBy" class="thumbnail  phone-list-item">
                    <a href="#!/phones/{{phone.id}}" class="thumb ">
                        <img ng-src="{{phone.imageUrl}}" >
                    </a>
                    <!-- <div class="col-sm-11 data"> -->
                        <a href="#!/phones/{{phone.id}}" >
                            {{phone.name}}
                        </a>
                        <p>{{phone.snippet}}</p>
                    <!-- </div> -->
                </li>
            </ul>
        </div>
                
    </div>
</div>